/* Header (inside body) */
.givemehead a {
    color: yellow;
    font-size: 50px;
    text-decoration:underline wavy white;
    font-style: italic;
}

h1 {
    text-align: center;
    color: yellow;
}

body {
    font-family: sans-serif;
    background-image: url(https://preview.redd.it/what-if-saul-was-morbidly-obese-what-would-happen-and-how-v0-qo4kpbik7sqa1.jpg?width=500&format=pjpg&auto=webp&s=98b3b96bf858dab2fa77373a7b85d48048a5c5f2);
    background-size:contain;
    background-color: coral;
}