/* Header (inside body) */
.givemehead a {
    color: yellow;
    font-size: 20px;
    text-decoration:underline wavy white;
    font-style: italic;
    padding: 10px;
}

h1, h2 {
    text-align: center;
    background-color: white;
    max-width: 300px;
    height: 50px;
    margin: auto;
}

h2 {
    text-decoration: underline red 10px;
}

body {
    font-family: sans-serif;
    background-image: url(https://i.redd.it/tm9lxa8uy5t51.jpg);
    background-size:cover;
    background-position-y: 20%;
    background-color: coral;
}

.container {
    background-color: rgb(255,255,255);
    padding: 10px 0px;
    max-width: 300px;
    margin: auto;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 15px auto;
}

.cap{
    width: 60px;
    height: 25px;
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255,255,255,0.5);
    border-left: 10px double rgba(0,0,0,75%);
}

.cap,.sleeve{
    display: inline-block;
}

.red {
    background: linear-gradient( rgb(122,74,14), rgb(245,62,113), rgb(162,27,27));
    box-shadow: 0px 0px 20px 0px rgba(83,14,14,0.8);
}

.green {
    background:linear-gradient( #55680D,#71F53E, #116C31);
    box-shadow: 0px 0px 20px 0px #3B7E20CC;
}

.blue {
    background: linear-gradient(hsl(186,76%,16%),hsl(223,90%,60%),hsl(240,56%,42%));
    box-shadow: 0px 0px 20px 0px hsl(223,59%,31%,0.8);
}

.footer {
    position:fixed;
    bottom: 0;
    right: 0;
    color: #f5f6f7;
    margin-right: 20px;
}