/* Header (inside body) */
.givemehead a {
    color: white;
    font-size: 20px;
    text-decoration:underline wavy white;
    font-style: italic;
}

a {
    color: #dfdfe2
}

h1, p {
    text-align: center;
    margin: 1em auto;
    color: white;
}

body {
    font-family: Tahoma;
    font-size: 16px;
    background-size:contain;
    background-color: #1b1b32;
    color: #f5f6f7;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.footer {
    position:fixed;
    bottom: 0;
    right: 0;
    color: #f5f6f7;
    margin-right: 20px;
}